*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
/*

.cell{
    border: 1px solid #000000;
    float:left;
}
*/
#board{
    margin:30px auto;
    border: 1px solid #000000;
    width: 452px;
    height: 452px;
}

.row {
    height: 100px;

}

.cell {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    float: left;
background-color: #007bff;
    color:white;
    line-height: 130px;
    text-align: center;
    font-size: 120px;
text-transform: uppercase;
}

p{
    font-weight: bold;
    text-align: center;
   margin-top: 20px;
}